# CMake fucking noobs files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Compiled Object files
*.gch
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
